doctype html
html
  head
    title Landing Page
  body
    h1 The future home of something magical!
    p Gate wind Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
